<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="KingdomMod"
    Manufacturer="KingdomMod contributors"
    Version="$(var.ProductVersion)"
    UpgradeCode="51B8DD67-378B-4DE7-8B44-17EBA8A5F751"
    Scope="perMachine">

    <SummaryInformation Description="KingdomMod for Kingdom Two Crowns" Manufacturer="KingdomMod contributors" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of KingdomMod is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="DEFENDEREXCLUSIONACCEPTED" Secure="yes" />

    <Property Id="PREVIOUSKINGDOMMODINSTALLFOLDER_RAW" Secure="yes">
      <RegistrySearch
        Id="PreviousInstalledGameFolderSearch"
        Root="HKLM"
        Key="Software\KingdomMod"
        Name="InstallFolder"
        Type="raw" />
    </Property>

    <Property Id="STEAMKINGDOMTWOCROWNSFOLDER_RAW">
      <RegistrySearch
        Id="SteamKingdomTwoCrownsFolderSearch"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Steam App 701160"
        Name="InstallLocation"
        Type="raw" />
    </Property>

    <Property Id="PREVIOUSKINGDOMMODINSTALLFOLDER" Secure="yes">
      <DirectorySearch
        Id="PreviousInstalledGameFolderDirectorySearch"
        Path="[PREVIOUSKINGDOMMODINSTALLFOLDER_RAW]"
        Depth="0">
        <FileSearch Id="PreviousInstalledGameExeSearch" Name="KingdomTwoCrowns.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="STEAMKINGDOMTWOCROWNSFOLDER">
      <DirectorySearch
        Id="SteamKingdomTwoCrownsFolderDirectorySearch"
        Path="[STEAMKINGDOMTWOCROWNSFOLDER_RAW]"
        Depth="0">
        <FileSearch Id="SteamKingdomGameExeSearch" Name="KingdomTwoCrowns.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="INSTALLFOLDER" Secure="yes" />

    <SetProperty Id="INSTALLFOLDER" Action="SetInstallFolderFromPreviousKingdomMod" Value="[PREVIOUSKINGDOMMODINSTALLFOLDER_RAW]" Before="CostFinalize" Sequence="both" Condition="PREVIOUSKINGDOMMODINSTALLFOLDER AND NOT Installed" />
    <SetProperty Id="INSTALLFOLDER" Action="SetInstallFolderFromSteam" Value="[STEAMKINGDOMTWOCROWNSFOLDER_RAW]" Before="CostFinalize" Sequence="both" Condition="NOT INSTALLFOLDER AND STEAMKINGDOMTWOCROWNSFOLDER AND NOT Installed" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.InstallerDir)\License.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Dialog Id="DefenderExclusionDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="{\\WixUI_Font_Title}Windows Defender exclusion required" />
        <Control Id="Description" Type="Text" X="25" Y="32" Width="320" Height="120" Text="KingdomMod builds mod DLLs on this computer and installs them into the Kingdom Two Crowns Mods folder. Those DLLs cannot be code-signed in advance because they are generated locally against your own game install. Windows Defender commonly flags or quarantines unsigned, newly generated mod DLLs, which can prevent KingdomMod and MelonLoader from running correctly." />
        <Control Id="Required" Type="Text" X="25" Y="151" Width="320" Height="38" Text="To continue, allow the installer to add a Windows Defender exclusion for the selected Kingdom Two Crowns folder. Defender will stop scanning files under that game folder." />
        <Control Id="AcceptDefenderExclusion" Type="CheckBox" X="25" Y="196" Width="320" Height="28" Property="DEFENDEREXCLUSIONACCEPTED" CheckBoxValue="1" Text="Add the required Windows Defender exclusion for this game folder." />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)" />
      </Dialog>

      <Dialog Id="DefenderDeclineConfirmDlg" Width="260" Height="120" Title="[ProductName] Setup">
        <Control Id="Text" Type="Text" X="15" Y="20" Width="230" Height="45" Text="KingdomMod cannot install correctly without the required Windows Defender exclusion. Are you sure you want to stop setup?" />
        <Control Id="Yes" Type="PushButton" X="72" Y="84" Width="56" Height="17" Default="yes" Text="Yes" />
        <Control Id="No" Type="PushButton" X="132" Y="84" Width="56" Height="17" Cancel="yes" Text="No" />
      </Dialog>

      <Dialog Id="GameLaunchNoticeDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="{\\WixUI_Font_Title}Kingdom Two Crowns will briefly launch" />
        <Control Id="Description" Type="Text" X="25" Y="34" Width="320" Height="115" Text="During installation, KingdomMod must briefly start Kingdom Two Crowns so MelonLoader can generate game references for this computer." />
        <Control Id="Instructions" Type="Text" X="25" Y="150" Width="320" Height="55" Text="The installer will close the game automatically when this setup pass is finished. Do not close the game yourself while setup is running." />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)" />
      </Dialog>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1" Condition="NOT Installed AND PREVIOUSKINGDOMMODINSTALLFOLDER" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" Order="2" Condition="NOT Installed AND NOT PREVIOUSKINGDOMMODINSTALLFOLDER" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3" Condition="Installed AND PATCH" />

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" />
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Condition="LicenseAccepted = &quot;1&quot;" />

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath_X64" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="2" Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="3" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="DefenderExclusionDlg" Order="4" Condition="WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_X64" Order="1" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="2" Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="SetTargetPath" Value="[_BrowseProperty]" Order="3" Condition="WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="EndDialog" Value="Return" Order="4" Condition="WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />

      <Publish Dialog="DefenderExclusionDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" />
      <Publish Dialog="DefenderExclusionDlg" Control="Next" Event="NewDialog" Value="GameLaunchNoticeDlg" Condition="DEFENDEREXCLUSIONACCEPTED=&quot;1&quot;" />
      <Publish Dialog="DefenderExclusionDlg" Control="Next" Event="SpawnDialog" Value="DefenderDeclineConfirmDlg" Condition="DEFENDEREXCLUSIONACCEPTED&lt;&gt;&quot;1&quot;" />
      <Publish Dialog="DefenderExclusionDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg" />

      <Publish Dialog="DefenderDeclineConfirmDlg" Control="Yes" Event="EndDialog" Value="Exit" />
      <Publish Dialog="DefenderDeclineConfirmDlg" Control="No" Event="EndDialog" Value="Return" />

      <Publish Dialog="GameLaunchNoticeDlg" Control="Back" Event="NewDialog" Value="DefenderExclusionDlg" />
      <Publish Dialog="GameLaunchNoticeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="GameLaunchNoticeDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="1" Condition="NOT Installed AND PREVIOUSKINGDOMMODINSTALLFOLDER" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="GameLaunchNoticeDlg" Order="2" Condition="NOT Installed AND NOT PREVIOUSKINGDOMMODINSTALLFOLDER" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="Installed AND PATCH" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Kingdom Two Crowns">
        <Component Id="InstallFolderRegistry" Guid="CB6C3807-812E-4E69-8261-D088747736B9">
          <RegistryValue
            Root="HKLM"
            Key="Software\KingdomMod"
            Name="InstallFolder"
            Value="[INSTALLFOLDER]"
            Type="string"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="KingdomMod" Level="1">
      <ComponentRef Id="InstallFolderRegistry" />
      <ComponentGroupRef Id="KingdomModPayload" />
    </Feature>

    <CustomAction
      Id="BuildAndInstallKingdomMod"
      Directory="INSTALLFOLDER"
      Execute="deferred"
      Impersonate="yes"
      Return="check"
      ExeCommand="powershell.exe [BuildAndInstallKingdomMod]" />

    <CustomAction
      Id="UninstallOwnedMelonLoader"
      Directory="INSTALLFOLDER"
      Execute="deferred"
      Impersonate="no"
      Return="check"
      ExeCommand="powershell.exe [UninstallOwnedMelonLoader]" />

    <CustomAction
      Id="SetBuildAndInstallKingdomModData"
      Property="BuildAndInstallKingdomMod"
      Value="-NoProfile -ExecutionPolicy Bypass -File &quot;[#BuildAndInstallScript]&quot; -GameDir &quot;[INSTALLFOLDER].&quot; -DefenderExclusionAccepted &quot;[DEFENDEREXCLUSIONACCEPTED]&quot; -PreviousInstallFolder &quot;[PREVIOUSKINGDOMMODINSTALLFOLDER]&quot; -MsiUiLevel &quot;[UILevel]&quot;" />

    <CustomAction
      Id="SetUninstallOwnedMelonLoaderData"
      Property="UninstallOwnedMelonLoader"
      Value="-NoProfile -ExecutionPolicy Bypass -File &quot;[#UninstallMelonLoaderScript]&quot; -GameDir &quot;[INSTALLFOLDER].&quot;" />

    <InstallExecuteSequence>
      <Custom Action="SetBuildAndInstallKingdomModData" Before="BuildAndInstallKingdomMod" Condition="NOT Installed" />
      <Custom Action="SetUninstallOwnedMelonLoaderData" Before="UninstallOwnedMelonLoader" Condition="REMOVE=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE" />
      <Custom Action="BuildAndInstallKingdomMod" After="InstallFiles" Condition="NOT Installed" />
      <Custom Action="UninstallOwnedMelonLoader" Before="RemoveFiles" Condition="REMOVE=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>
  </Package>
</Wix>
